{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<section class="my-32">
    <div class="container">
        <div class="max-w-3xl mx-auto flex flex-col items-center justify-center gap-5">
            <h1 class="text-xl md:text-3xl font-semibold">Login</h1>

            <div class="bg-white p-8 border rounded-xl w-full flex flex-col gap-5">
                {% if error %}
                    <div class="bg-red-500 rounded-lg text-white p-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for message in app.flashes('error') %}
                    <div class="bg-red-500 rounded-lg text-white p-3">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="bg-green-500 rounded-lg text-white p-3">
                        {{ message }}
                    </div>
                {% endfor %}


                {{ form_start(form, {
                    attr: {
                        class: 'flex flex-col gap-8'
                    }
                }) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    
                    <div class="text-sm">
                        <a href="{{ path('forgot_password') }}" class="text-blue-500 transition hover:opacity-70">Forgot Password ?</a>
                    
                        <p class="mt-2">
                            No account ? <a href="{{ path('register') }}" class="text-blue-500 transition hover:opacity-70">Register</a>
                        </p>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}