{% extends "base.html.twig" %}

{% block title %}Edit trick{% endblock %}

{% set background = "https://placehold.co/1920x1080" %}

{% block body %}

{% if trick.medias|filter(v => v.type == 'image')|first %}
    {% set background = '/uploads/tricks/' ~ trick.medias|filter(v => v.type == 'image')|first.content %}
{% endif %}

<div class="mt-24"></div>

<section class="w-screen h-96 bg-slate-200 relative p-3 text-center">
    <div class="bg-hero" style="background-image: url('{{ background }}')"></div>
    <div class="w-full h-full relative z-10 text-white">
        <div class="flex w-full h-full flex-col gap-3 max-w-3xl justify-center items-center mx-auto">
            <h1 class="font-semibold text-2xl md:text-5xl">{{ trick.name }}</h1>
        </div>
    </div>
</section>

<section class="my-10">
    <div class="container flex flex-col gap-5">
        {% if trick.medias|length > 0 %}
            <div class="flex items-center flex-nowrap overflow-x-auto gap-5 pb-5">
                {% for media in trick.medias %}
                <div class="w-[300px] h-[180px] flex-shrink-0 relative">
                    {% if media.type == 'iframe'  %}
                        <iframe src="{{ media.content }}" class="w-full h-full" height="100%"></iframe>
                    {% else %}
                        <img src="/uploads/tricks/{{ media.content }}" class="w-full h-full object-cover">
                    {% endif %}

                    <div class="absolute right-2 bottom-2 flex items-center gap-3 z-10">
                        <form action="{{ path('app_trick_media_delete', {
                            'slug': trick.slug,
                            'media': media.id
                        })}}" method="POST">
                            <input type="hidden" name="_token" value="{{ csrf_token("delete-" ~ media.id) }}"/>

                            <button type="submit" class="flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %} 
            </div>
        {% endif %}


        <div class="flex flex-col gap-3">
            {% for message in app.flashes('error') %}
                <div class="bg-red-500 rounded-lg text-white p-3">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="bg-green-500 rounded-lg text-white p-3">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        
        <hr>

        <h2 class="text-xl font-semibold">Ajouter un média</h2>
        {{ form_start(formMedia, {
            attr: {
                class: 'flex flex-col gap-8'
            }
        }) }}

        {{ form_end(formMedia) }}

        <hr>

        <h2 class="text-xl font-semibold">Modifier la figure</h2>

        {{ form_start(formUpdate, {
            attr: {
                class: 'flex flex-col gap-8'
            }
        }) }}
            {{ form_row(formUpdate.category) }}
            {{ form_row(formUpdate.description, {
                attr: {
                    rows: "8"
                }
            }) }}
            {{ form_row(formUpdate.submit) }}
        {{ form_end(formUpdate) }}

        <hr>

        <a class="text-blue-500 hover:opacity-70 transition" href="{{ path('app_trick_show', { slug: trick.slug}) }}">Go to trick</a>
    </div>
</section>
{% endblock %}